<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>About Us</h1>

    <p><strong>Bitchin'-Ass Comics</strong> is an American character-based comic book company that owns and publish a number of independent superheroes with in its own comic universe. Getting its start in the city of Philadelphia in 2015 (formerly a publication), now a comic book publishing company. The company has launched a variety of characters, superheros and villains created by Bridget Keehan, Anthony Gawbill, and Michael Upshur.</p>


    <p>Bitchin'-Ass Comics is looking to connect with the comic book universie and its fans though various platforms , outlets, and vendors. Today, the company’s characters continue to be forged in publishing, licensing, film, video games, and beyond. Bitchin'-Ass Comics consistently produces some of the most critically acclaimed comics in the industry and has received numerous industry awards and accolades, including a Force Field Award for rising Comic Book Publisher of the month. Towards the end of 2018, Bitchin'-Ass Comics will be announcing some  multi-deal project that looks to bring some of its prominent characters to mainstream.</p>

  </body>
</html>
