<form method="get" action="/received">
	email <input type="text" name="email">
	subject <input type="text" name="subject">
	text <input type="text" name="content">
	<input type="submit" name="">
</form>