<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <h1>Gallery</h1>

    <div id="wrapper">
        <div id="comic-image">1</div>
        <div id="comic-image">2</div>
        <div id="comic-image">3</div>
        <div id="comic-image">4</div>
        <div id="comic-image">5</div>
        <div id="comic-image">6</div>
        <div id="comic-image">7</div>
        <div id="comic-image">8</div>
        <div id="comic-image">9</div>
        <div id="comic-image">10</div>
        <div id="comic-image">11</div>
        <div id="comic-image">12</div>
        <div id="comic-image">13</div>
        <div id="comic-image">14</div>
        <div id="comic-image">15</div>
        <div id="comic-image">16</div>
        <div id="comic-image">17</div>
        <div id="comic-image">18</div>
        <div id="comic-image">19</div>
        <div id="comic-image">20</div>
    </div>


  </body>
</html>
