
    <h1>Gallery</h1>

    <div id="wrapper">
        <div id="comic-image"><img src="../images/comic1.jpg" style="width:130px; height:200px;"><hr><p id="para">Opal Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic2.jpg" style="width:130px; height:200px;"><hr><p id="para">Emerald Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic3.png" style="width:130px; height:200px;"><hr><p id="para">Topez Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic4.jpg" style="width:130px; height:200px;"><hr><p id="para">Silver Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic5.jpg" style="width:130px; height:200px;"><hr><p id="para">Brass Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic6.jpg" style="width:130px; height:200px;"><hr><p id="para">Zircon Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic7.jpg" style="width:130px; height:200px;"><hr><p id="para">Sapphire Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic8.jpg" style="width:130px; height:200px;"><hr><p id="para">Bronze Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic9.jpg" style="width:130px; height:200px;"><hr><p id="para">Golden Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic10.jpg" style="width:130px; height:200px;"><hr><p id="para">Opal Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic11.jpg" style="width:130px; height:200px;"><hr><p id="para">Silver Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic12.jpg" style="width:130px; height:200px;"><hr><p id="para">Opal Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic13.jpg" style="width:130px; height:200px;"><hr><p id="para">Bronze Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic14.jpg" style="width:130px; height:200px;"><hr><p id="para">Opal Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic15.jpg" style="width:130px; height:200px;"><hr><p id="para">Brass Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic16.jpg" style="width:130px; height:200px;"><hr><p id="para">Emerald Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic17.jpg" style="width:130px; height:200px;"><hr><p id="para">Zircon Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic18.jpg" style="width:130px; height:200px;"><hr><p id="para">Opal Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic19.jpg" style="width:130px; height:200px;"><hr><p id="para">Golden Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic20.jpg" style="width:130px; height:200px;"><hr><p id="para">Bronze Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic21.png" style="width:130px; height:200px;"><hr><p id="para">Zircon Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic22.jpg" style="width:130px; height:200px;"><hr><p id="para">Brass Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic23.jpg" style="width:130px; height:200px;"><hr><p id="para">Silver Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic24.jpg" style="width:130px; height:200px;"><hr><p id="para">Topez Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic25.jpg" style="width:130px; height:200px;"><hr><p id="para">Opal Age Issue</p></div>
    </div>
<!-- <div id="comic-image"><img src="../images/comic1.jpg" style="width:100px; height:130px;"></div> -->
