
    <h1>Gallery</h1>

    <div id="wrapper">
        <div id="comic-image"><img src="../images/comic1.jpg" width="110" height="200"><hr><p>Golden Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic2.jpg" width="110" height="200"><hr><p>Silver Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic3.jpg" width="110" height="200"><hr><p>Bronze Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic4.jpg" width="110" height="200"><hr><p>Opal Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic5.jpg" width="110" height="200"><hr><p>Silver Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic6.jpg" width="110" height="200"><hr><p>Zircon Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic7.jpg" width="110" height="200"><hr><p>Golden Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic8.jpg" width="110" height="200"><hr><p>Sapphire Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic9.jpg" width="110" height="200"><hr><p>Emerald Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic10.jpg" width="110" height="200"><hr><p>Topaz Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic11.jpg" width="110" height="200"><hr><p>Silver Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic12.jpg" width="110" height="200"><hr><p>Opal Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic13.jpg" width="110" height="200"><hr><p>Emerald Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic14.jpg" width="110" height="200"><hr><p>Topaz Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic15.jpg" width="110" height="200"><hr><p>Brass Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic16.jpg" width="110" height="200"><hr><p>Silver Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic17.jpg" width="110" height="200"><hr><p>Zircon Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic18.jpg" width="110" height="200"><hr><p>Sapphire Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic19.jpg" width="110" height="200"><hr><p>Brass Age Issue</p></div>
        <div id="comic-image"><img src="../images/comic20.jpg" width="110" height="200"><hr><p>Bronze Age Issue</p></div>

    </div>
