<h1>TO-DO LIST</h1>

<div id="postItMain">
  <h2>CREATE A POST-IT</h2>

Date<br>
<input id="createDate" placeholder="MM/DD/YYY" maxlength="10"><br>
Reminder<br>
<textarea id="createNote" placeholder="Type your reminder here" maxlength="400"></textarea><br>
Pick post-it color<br>
<input id="colorPicker" type="color" value="#ffee00"><br>
<center><button id="addNote">CREATE POST-IT</button></center>
</div><br id="breaks">


    <div id="wrapper">
    </div>
