Date: <input id="createDate" placeholder="MM/DD/YYY" maxlength="10"><br>
Reminder: <input id="createNote" placeholder="Type your reminder here" maxlength="400"><br>
Pick post-it color: <input id="colorPicker" type="color" value="#ffee00"><br>
<button id="addNote">CREATE POST-IT</button>
<button id="deleteNote">DELETE</button>
    <div id="wrapper">
    </div>
